.card-modal-form {
    padding: 10px;
}

.modal-flex-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.modal-form {
    width: 80%;
}

.type-selector {
    margin-left: -30px;
}