.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #88c399;
    padding: 1px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}