.navigation-container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 10px 0 15px 0;
    font-family: "Helvetica Neue";
}

.navigation-link {
    color: #90caf9;
    padding: 0.5em 0 0.5em 0;
    border: 2px solid transparent;
}

ul.navbar-nav li {
    margin: 0 1em;
}

.navigation-link-active {
    border-bottom: 2px solid #64b5f6;
}

.navigation {
    background-color: white;
}

.btn-like {
    color: #1de9b6;
    border: 2px solid #1de9b6 !important;
    border-radius: 3px;
}

.navigation-link:hover {
    color: #bbdefb;
    border-bottom: 2px solid #e3f2fd;
}

